# User Behavior Analysis

Project Description

## Imports

Where can I find this file

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os

In [2]:
os.getcwd()

'/Users/allisonkelly/Documents/Notebooks/user_behavior_analysis/notebooks'

# Data

Description

In [20]:
raw_df1 = pd.read_csv("/Users/allisonkelly/Documents/Notebooks/user_behavior_analysis/data/raw/feature_counts_grouped_by_team.csv", 
                      names=['team_id', 'account_start_date', 'trial_end_date', 'mocks_count', 'entities_count', 'intents_count', 'variables_count'],
                     header=0)
raw_df1.head()

,team_id,account_start_date,trial_end_date,mocks_count,entities_count,intents_count,variables_count
0,1,2017-01-10 15:45:21,NaN,73,7,41,27
1,3,2017-01-10 16:07:22,2017-01-28 10:08:26,1,0,0,0
2,4,2017-01-10 16:09:13,2017-01-28 10:08:26,1,0,0,0
3,5,2017-01-10 16:15:43,2017-01-28 10:08:26,1,0,0,0
4,6,2017-01-10 16:45:29,2017-01-28 10:08:26,1,0,0,0

In [14]:
raw_df2 = pd.read_csv("/Users/allisonkelly/Documents/Notebooks/user_behavior_analysis/data/raw/team_last_login_subsc_end_date.csv", 
                      names = ['team_id', 'last_login', 'sub_end', 'stripe_plan'], header=0)
raw_df2.head()

   team_id           last_login sub_end                stripe_plan
0   1831.0  2021-02-01 21:59:44     NaN  team_plus_aug_yearly_2020
1   1831.0  2021-02-01 18:36:36     NaN  team_plus_aug_yearly_2020
2      2.0                  NaN     NaN                        NaN
3   9588.0  2019-07-07 16:36:41     NaN                        NaN
4      4.0  2019-05-14 16:52:00     NaN                        NaN

In [17]:
raw_df2['team_id'] = raw_df2['team_id'].astype(object)

In [8]:
raw_df3 = pd.read_csv("/Users/allisonkelly/Documents/Notebooks/user_behavior_analysis/data/raw/mocks_comments_user_tests.csv")
raw_df3.head()

                                     id  team_id  no_comment  no_user_tests
0  0178dee0-aa06-11e7-8691-c9fce968bbcf        1           0              0
1  04c2f950-2fac-11e9-819b-432f8134e172        1           0              0
2  06855dd0-3923-11e7-be67-1174531b58f7        1           0              0
3  0d18ddd0-6d91-11e8-b4c3-17d192a9e275        1           0              0
4  1001da80-b7a5-11e9-ace5-69ef697942ba        1           0              0

In [9]:
raw_df4 = pd.read_csv("/Users/allisonkelly/Documents/Notebooks/user_behavior_analysis/data/raw/team_user_roles.csv")
raw_df4.head()

   team_id  members  reviewers  testers
0        1        7          0        8
1        2        0          0        0
2        3        0          0        0
3        4        0          0        0
4        5        0          0        0

In [37]:
merge_df = raw_df1.merge(raw_df2,on='team_id').merge(raw_df4,on='team_id')
merge_df.head()

,team_id,account_start_date,trial_end_date,mocks_count,entities_count,intents_count,variables_count,last_login,sub_end,stripe_plan,members,reviewers,testers
0,1,2017-01-10 15:45:21,NaN,73,7,41,27,2020-12-05 23:24:18,NaN,pro-plan,7,0,8
1,4,2017-01-10 16:09:13,2017-01-28 10:08:26,1,0,0,0,2019-05-14 16:52:00,NaN,NaN,0,0,0
2,5,2017-01-10 16:15:43,2017-01-28 10:08:26,1,0,0,0,NaN,NaN,NaN,0,0,0
3,6,2017-01-10 16:45:29,2017-01-28 10:08:26,1,0,0,0,NaN,NaN,NaN,0,0,0
4,7,2017-01-10 17:07:54,2017-01-28 10:08:26,1,0,0,0,NaN,NaN,NaN,0,0,0

## NEXT

Define what counts as a churned user for the free plan segment. How long ago was their last login? 60 days? 90 days?

In [22]:
enterprise_plans = ["aarp-yearly","allstate-plan1","bms-yearly","botmock15","centurylink-monthly","coned-plan","fleishman-yearly",
"plan_F7HeCobBL8LyDk","plan_FER0iNKmeqQuob","plan_H8jHSUawWHiNUl","plan-novartis","price_1HkCSdAJmWSUW5DJRPUifM1H",
"prod_FbBc8TFEZPLW47",'prod_FeUn3vSkQk6Rec','prod_GlpnGQpRGsGeyd','promero-monthly','vodafone-nz']

In [29]:
def check_enterprise(dfObj, listOfValues):
    ''' Check if given elements exists in Series or not.
        It returns a list of boolean values'''
    results = []
    for value in dfObj.values:
        # Check if the element exists in dataframe values
        if value in listOfValues:
            results.append(True)
        else:
            results.append(False)
    # Returns a list of true/false      
    return results

In [38]:
merge_df['is_enterprise'] = pd.Series(check_enterprise(merge_df['stripe_plan'], enterprise_plans))

In [39]:
merge_df.head()

,team_id,account_start_date,trial_end_date,mocks_count,entities_count,intents_count,variables_count,last_login,sub_end,stripe_plan,members,reviewers,testers,is_enterprise
0,1,2017-01-10 15:45:21,NaN,73,7,41,27,2020-12-05 23:24:18,NaN,pro-plan,7,0,8,False
1,4,2017-01-10 16:09:13,2017-01-28 10:08:26,1,0,0,0,2019-05-14 16:52:00,NaN,NaN,0,0,0,False
2,5,2017-01-10 16:15:43,2017-01-28 10:08:26,1,0,0,0,NaN,NaN,NaN,0,0,0,False
3,6,2017-01-10 16:45:29,2017-01-28 10:08:26,1,0,0,0,NaN,NaN,NaN,0,0,0,False
4,7,2017-01-10 17:07:54,2017-01-28 10:08:26,1,0,0,0,NaN,NaN,NaN,0,0,0,False